<html>
   <body>

       <form name = "form" action = "{% url "login" %}"
         method = "POST" >{% csrf_token %}

         <div style = "max-width:470px;">
            <div style="text-align: center;">
               <input type = "text" style = "margin-left:20%;"
                  placeholder = "Username" name = "username" />
            </div>
         </div>

         <br>

         <div style = "max-width:470px;">
            <div style="text-align: center;">
               <input type = "password" style = "margin-left:20%;"
                  placeholder = "password" name = "password" />
            </div>
         </div>

         <br>

         <div style = "max-width:470px;">
            <div style="text-align: center;">

               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type = "submit"
                  value = "Login" >
                  <strong>Login</strong>
               </button>

            </div>
         </div>

      </form>

   </body>
</html>